.topnav {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.card-largura {
  width: 18rem;
}

.card-figura {
  width: 70px;
}

em strong {
  color: rgb(139, 101, 73);
}

section {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

h1 strong {
  color: rgb(245, 103, 1);
}

p {
  font-size: 22pxs;
}

.imagem-sobre1 {
  width: 450px;
  float: left;
  margin-block-end: 0em;
}

.imagem-sobre2 {
  width: 50%;
  float: right;
}

.sobre {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

footer {
  text-align: center;
  padding: 40px 0;
}

.copyright {
  position: center;
  font-size: 13px;
  margin: 20px 0 0;
}
