.topnav {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.botao-especial {
  color: white;
  background-color: rgb(245, 103, 1);
}
h1{
  margin-bottom: 5% !important;
}


.bitcoin {
  padding: 3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.bitcoin h1 strong {
  text-align: center;
  color: rgb(245, 103, 1);
}

.imagem-moeda {
  float: left;
}

.video-fundo h2 {
  color: white;
}

.video-fundo {
  position: relative;
  width: 940px;
  margin: 0 auto;
  background: rgba(247, 121, 4, 0.795);
  background-image: linear-gradient(rgb(247, 121, 4, 0.795), white);
}

.video {
  position: center;
  width: 530px;
  margin: 0 auto;
  padding-top: 0em;
}

footer {
  text-align: center;
  padding: 40px 0;
}

.copyright {
  position: center;
  font-size: 13px;
  margin: 20px 0 0;
}
.btc{
  margin-left: 17%!important;
 
}
div#espaco{
  margin-top: 40px;
}
.container-fluid{
  margin-bottom: 10% !important;
}
.espaco{
  margin-bottom: 3% !important;
}
.imagem-moeda, .btc{
    margin-bottom: 3%;
}
button#Enviar{
  display: flex;
  border-radius: 50px;
  border-color: black;
  position: relative;
  left: auto;
  right: auto;
  transition: (-50%, -50%);
  margin-right: 45% !important;

}
div#Bitcoin{
margin-left: 350px !important;
vertical-align: top !important;
}